

html,
body {
    /* overflow:visible; */

}

:root {
    --box_size: 200px;
    --trans_time: 200ms;

}

main{
    max-width: 800px;
    /* margin: auto; */
}
zs_boxlist
{
    background-color: black;
}
zs_boxlist.contract
{
    display: none;
}
zs_boxlist.expand
{
    border: #a2aec7 1px solid;
    width: 100%;
    display:  flex;

    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
zs_box
{
    font-size: 15px;
    border: black 1px solid;
    background-color: black;
    flex-direction: row;
    display: block;
    justify-content: flex-start;
    transition: all var(--trans_time) linear;
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 32vw;
    align-items: center;
}
zs_box>img
{
    object-fit: cover;
    width: 100%;
    height:  100%;
    transition: max-height var(--trans_time) linear;
    /*
    max-height: 100%;

     */
    max-height: min(200px,33vw);
}
zs_box.box_expand>img
{
}
zs_box > div
{

    color: white;
    word-break: break-all;
}
zs_box.box_contract > div{
    transform: translateY(90%);
    position: absolute;
    text-align: center;
}
.box_expand > div{
    position: sticky;
    top: 0px;

    background-color: black;
    z-index: 33;
    padding: 10px;
    text-align: center;
}
div {}

.box_contract>div
{


}

zs_box.box_contract
{



}
zs_box.box_expand
{
    flex-basis: 100%;
    max-width: 100vw;


}

.box_hide
{
    flex-basis: 0px;
    flex-grow: 0;
    max-width: 0px;
    font-size: 0;

}

.box_contract
{





}






zs_boximg>img
{
    max-width: 100%;
}
zs_boximg > div
{
    overflow:hidden;
    max-width: 100%;
}
