
.ZipoTable
{
    position: relative;
    border-collapse: collapse;
    width: fit-content;
}
.ZipoTable th
{
    position: sticky;
    top:100px;
    background-color: black;
    border: black solid 1px;
    color: white;

}
.ZipoTable td
{
    width: max-content;

    white-space:nowrap;


}
