
.ZipoTable
{
    position: relative;
    border-collapse: collapse;
    margin-top:62px;
    overflow: auto;
    height: 100%;
}
.ZipoTable th
{
    position: sticky;
    top:0;
    background-color: white;
}
.ZipoTable tbody
{


}
